/* Auth Page */
.auth-container{
    height: 100vh;
    text-align: center;
    margin-top: 10%;
    animation: fadeIn;
    animation-duration: 3s;
}


input[type=email], input[type=password], input[type=text]{
    border: 1px solid #FFC24D;
    padding: 20px 10px;
    color: #858585;
    margin-top: 20px;
    width: 30%;
    border-radius: 7px;
    box-sizing: border-box;
}

.auth-btn{
    background-color: #1D1F22;
    padding: 15px 50px;
    border-radius: 7px;
    margin-top: 3%;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
    border: none;
}
.auth-btn:hover{
    animation: pulse;
    animation-duration: 3s;
}
.arrow-btn{
    margin-left: 10px;
    color: #FFC24D;
}

/* Authenticator Page*/
.Authenticator{
    text-align: center;
    margin-top: 15%;
}

/* Mobile */
@media(max-width:1200px){
    .auth-container{
        margin-top: 45%;
    }
    .Authenticator{
        margin-top: 40%;
    }
    input[type=email], input[type=password], input[type=text]{
        width: 80%;
    }
}

